body {
	background-color: #eee;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-size: 2em;
	line-height: 1.5em;
	color: #545454;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Droid Serif', serif;
	font-size: 1.5em;
	line-height: 1.6em;
	color: #00a775;
	margin-bottom: 5px;
}

p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.25em;
	line-height: 1.75em;
	color: #7a7a7a;
	margin-bottom: 15px;
}

.column-one {
	background-image: url('images/background.png');
	width: 33%;
	position: fixed;
	display: inline-block;
	top: 0;
	text-align: center;
	bottom: 0;
	padding-top: 50px;
}

.column-one ul{
	margin-top: 50px;
}

.column-one ul li {
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 1.1em;
	margin-bottom: 30px;
}

.column-one ul a:link {
	text-decoration: none;
	color: #eee;
}

.column-one ul a:visited {
	text-decoration: none;
	color: #eee;	
}

.column-one ul a:hover {
	color: #00a775;
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
}

.column-one ul a:active {
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
}

.column-one ul a.active {
	color: #00a775;
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
}

.column-one img {
	width: 55%;
}

.column-two {
	top: 0;
	bottom: 0;
	background-color: #eee;
	display: inline-block;
	position: relative;
	left: 33%;
	padding: 50px 10% 0;
	width: 46%;
}

.column-two > div {
	max-width: 600px;
	padding: 20px;
	margin: 0 auto 0 auto;
}

section {
	max-width: 600px;
}

.column-two a:link {
	text-decoration: underline;
	color: #7a7a7a;
}

.column-two a:visited {
	text-decoration: underline;
	color: #7a7a7a;
}

.column-two a:hover {
	text-decoration: underline;
	color: #7a7a7a;
}

.column-two a:active {
	text-decoration: underline;
	color: #7a7a7a;
}

.column-two h2 a:link {
	color: #00a775;
	text-decoration: underline;
}

.column-two h2 a:visited {
	color: #00a775;
	text-decoration: underline;
}

.column-two h2 a:hover {
	color: #7a7a7a;
	text-decoration: underline;
}

.column-two h2 a:active {
	color: #7a7a7a;
	text-decoration: underline;
}

em {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #545454;
	margin-bottom: 15px;
	font-style: italic;
}

#social {
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 2.5em;
	margin-bottom: 30px;

}

#social a:link {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #a6a6a6;
	text-decoration: none;
}

#social a:visited {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #a6a6a6;
	text-decoration: none;
}

#social a:hover {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #00a775;
	text-decoration: none;
}

#social a:active {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #00a775;
	text-decoration: none;
}


